header{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 70px;
    margin-top: 30px;
    font-weight: bold;
}

.contenedor {
    width: 100%;
    flex-direction: row;      
    margin-top: 20px;
    margin-left: 5px;
}

.card {
    display: inline-block;
    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #ececec;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 200px;
    height: auto;
    border-radius: 8px;
}



.card h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
}


.card p {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    font-size: 20px;
    color: #333 ; 
}

.card a {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    font-size: 15px;
    color: blue;
    text-decoration: none;
}


.modo-noche {
    background-color: #333;
    color: white;
}

.modo-noche .card h2, .modo-noche .card p, .modo-noche .card a {
    color: rgba(70, 68, 68, 0.238);
}